# =========================
# META ADS (FACEBOOK / INSTAGRAM)
# =========================
META_ACCESS_TOKEN=EAAVKRaye7UABRfNJvn29sFxZAhZAgJVHYd3k3p9ZBsUIZCIfalLd2LhbycsWq8WEEaPwOd23Ta9nZCuqj8P8uhysPWDmHQdJ6elqmhrAYO4c8WIPAF4UEBgvCtiy5l2FNQ05XgDvxd4Kdc8TZCTKrvrp6X7TCzp5weeATqI70cXp8prZCS0z3SPpkcet0jn7glqipriZACU18pj0Ye4udJSW711bvmAFdT6u
META_APP_SECRET=92dc9386b88b11108cf069e17d0e3b08
META_APP_ID=1489037992848704

# =========================
# SUPABASE
# =========================
SUPABASE_URL=https://djsaltiyzhzjgrvxsnde.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRqc2FsdGl5emh6amdydnhzbmRlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5ODI5MDMsImV4cCI6MjA5MjU1ODkwM30.Q84ihsmQqX6bgABof5mE7Eg203hp3MAdrbtD1hGg4ao
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRqc2FsdGl5emh6amdydnhzbmRlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njk4MjkwMywiZXhwIjoyMDkyNTU4OTAzfQ.j-hYIvl5U6DpL22TaSGcX2_wYJKefCtyMR-jLbvRBrY

# =========================
# DATABASE (POSTGRES)
# =========================
DATABASE_URL=postgresql://postgres:Cromia@2026##@db.djsaltiyzhzjgrvxsnde.supabase.co:5432/postgres

# =========================
# APP
# =========================
PORT=3000
NODE_ENV=development